pytest
nbmake
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
async-lru
attrs
babel
backcall
beautifulsoup4
bleach
blinker
Brotli
certifi
cffi
charset-normalizer
click
comm
contourpy
cycler
dash
dash-bootstrap-components
dash-bootstrap-templates
dash-core-components
dash-html-components
dash-table
debugpy
decorator
defusedxml
entrypoints
fastjsonschema
Flask
Flask-Compress
fonttools
fqdn
greenlet
h11
httpcore
httpx
idna
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kaleido
kiwisolver
lark
MarkupSafe
matplotlib
matplotlib-inline
mistune
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
platformdirs
plotly
plotly-express
prometheus_client
prompt_toolkit
psutil
psycopg2-binary
ptyprocess
pycparser
Pygments
pyparsing
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rfc3987-syntax
rpds-py
scipy
seaborn
Send2Trash
setuptools
six
sniffio
soupsieve
SQLAlchemy
terminado
tinycss2
tornado
traitlets
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
